.cv {
  width: 100%;
  height: 100%;
  background: url("../img/backgroundcv.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.container-cv {
  background: #07efe3c7;

}
.nav-cv {
  background-color: transparent !important;
}



.title-cv {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #a41d1a;
}

.avata-target-cv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avata-cv img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.info-cv{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info-card-cv{
    width: 200px;
    height: 150px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 35px;
    box-shadow: 0 0 20px #16706c;
}
/* .info-card-cv span{
   font-size: 30px;
} */
/* .text-info-cv{
    font-size: 15px;
    font-weight: 700;
} */
.text-info-label{
    font-size: 12px;
    font-weight: 200;
}

.education-card-cv{
    background-color: #16706c;
    border-radius: 10px;
}






/* timeline */
/* body {
  font-family: "Source Sans Pro", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.75;
} */

#timeline {
  display: flex;
  justify-content: space-around;
  background-color: #031625e0;
}
#timeline:hover .tl-item {
  width: 23.3333%;
}


.tl-item {
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 25%;
  height: 80vh;
  min-height: 600px;
  color: #fff;
  overflow: hidden;
  transition: width 0.5s ease;
}
.tl-item:before, .tl-item:after {
  transform: translate3d(0, 0, 0);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.tl-item:after {
  background: rgba(3, 22, 37, 0.816);
  opacity: 1;
  transition: opacity 0.5s ease;
}
.tl-item:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 75%);
  z-index: 1;
  opacity: 0;
  transform: translate3d(0, 0, 0) translateY(50%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.tl-item:hover {
  width: 50% !important;
}
.tl-item:hover:after {
  opacity: 0;
}
.tl-item:hover:before {
  opacity: 1;
  transform: translate3d(0, 0, 0) translateY(0);
  transition: opacity 1s ease, transform 1s ease 0.25s;
}
.tl-item:hover .tl-content {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.75s ease 0.5s;
}
.tl-item:hover .tl-bg {
  filter: grayscale(0);
}

.tl-content {
  transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 1.618em;
  top: 60%;
  opacity: 0;
}
.tl-content h1 {
  font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #1779cf;
  font-size: 1.44rem;
  font-weight: normal;
}

.tl-year {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.tl-year p {
  font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.728rem;
  line-height: 0;
}

.tl-bg {
  transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  transition: filter 0.5s ease;
  filter: grayscale(100%);
}
.total-time{
  color: rgb(213, 143, 143);
  z-index: 2;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  text-transform: uppercase;
  font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 0;
}
.tl-item:hover .total-time {
  opacity: 1;
  transition: all 0.75s ease 0.5s;
}


